site_name: openSUSE User Documentation Project
repo_url: https://github.com/openSUSE/openSUSE-docs-revamped
edit_uri: ""

plugins:
    - search
    - git-revision-date
    - mkdocs-versioning:
        version: 0.3.1
    - pdf-export:
        verbose: true
        media_type: print
        #enable PDF printing by running "export ENABLE_PDF_EXPORT=1"
        enabled_if_env: ENABLE_PDF_EXPORT
        #comment out the next two options to make every page have its own PDF
        combined: true
        combined_output_path: docs.pdf
        
theme:
    name: material
    font: false
    custom_dir: overrides
    palette:
        scheme: preference
        primary: green
        accent: red
    logo: image/Button-filled-colour.png
    favicon: image/geeko-color.png
    features:
        - navigation.instant
    icon:
        repo: fontawesome/brands/github

extra:
    logo: image/geeko-color.png
    social:
    - icon: button-filled-monochrome
      link: https://www.opensuse.org
      name: openSUSE Main Website
    - icon: fontawesome/brands/github
      link: https://github.com/openSUSE
      name: openSUSE GitHub

extra_css: 
    - styles.css
      
markdown_extensions:
    - admonition
    - def_list
    - pymdownx.details
    - pymdownx.superfences
    - toc:
        permalink: ⚓︎
        toc_depth: 5

nav:
    - Home: index.md
    - Version Selector: "../"
    - Before installing:
        - Choosing a distribution: pick_an_image.md
        - Installation setups: ""
        - Preparing the installation media: image_choice.md
    - Installing:
        - Step by step guide: yast_installer.md
        - Quick install for experienced users:
            - microOS specials: microos_getting_started.md
    - Distro basics:
        - KDE Plasma basics: kde.md
        - GNOME basics: ""
        - Interlude -- Fundamental openSUSE concepts:
            - Zypper: zypper.md
            - Snapper: snapper.md
        - Getting & installing software: ""
        - Updating and upgrading: ""
        - Managing snapshots: ""
        - Troubleshooting with autonomy: ""
    - Completing and fine-tuning your setup:
        - Finding & installing additional software:
            - Graphic Drivers: 
                - Proprietary: install_proprietary.md
                - Hybrid GPUs: hybrid_graphics.md
        - Security basics: ""
        - Wifi & network: ""
        - Power management: ""
        - Pairing, syncing, sharing:
            - Bluetooth: bluetooth.md
        - Advanced fine-tunings: ""
        - More partitioning: ""
        - Recommended setups: ""
    - Giving back to the community:
        - Reporting bug reports: ""
        - Resources: ""
        - Other sources of documentation: reference_docs.md
        - Contribute to this docs: 
            - Markdown flavour: markdown.md
            - Todo: todo.md
    - A contributor's checklist:
        - openSUSE distributions: ""
        - desktop Environments: ""
        - getting the right installer: ""
        - FAQ, Issues & solutions: ""
